__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.tox/
.nox/
pip-wheel-metadata/
build/
dist/
*.egg-info/
db.sqlite3
db.sqlite3-journal
/media/
/static/
*.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.env
.env.*
!.env.example
.DS_Store
/booking_service/hotel_numbers/migrations/